@model MVCDemo.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>I Am from Employee Controller and Index Action Method</h2>
    </div>
    <br />
    <a href="/Home/Index">Home Ka Index</a>

    <table border="1">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Address</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Name</td>
                <td>@Model.Address</td>
                
            </tr>
        </tbody>
    </table>
</body>
</html>
