
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>I Am from Employee Controller and Index Action Method</h2>
    </div>
    <br />
    <a href="/Home/Index">Home Ka Index</a>
</body>
</html>
